.rounded-border-account{
    border-radius: 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: #ffffff;
    // max-width: 18%;
    // min-width: 18%;
    width: 200px;
    height: 260px;
    text-align: center;
    img{
        border-radius: 10px;
    }
}