.free-btn {
    padding: 3px 12px;
    font-size: 16px;
    border-radius: 15px;
    background-color: #0067A7  !important;
    color: white;
  }
  .titlle {
    font-size: 40px !important;
    font-weight: 700 !important;
    font-family: 'PT Sans',sans-serif !important;
  }

.card-height {
  height:65% !important
}
  .btn-text {
    height: 24px;
    text-align: center;
    font-size: 10px;
  }
  .img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
  }
  .description-card {
    border-radius: 20px;
    padding: 20px;
    background-color: rgb(250, 242, 242);
    box-shadow: rgb(196, 24, 24);
  }
  .card-img {
    max-width: 100px;
    height: 86px;
    padding: 5px;
  }
  .card-images {
    /* object-fit: contain; */
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }
  .card-radius {
    border-radius: 15px !important;
  }
  .bg-blue {
    background-color: #ededff !important;
  }
  .pr-30 {
    padding-right: 35px;
  }
  .chk-box {
    border: 1px solid black !important;
  }
  .txt-colr {
    color: #0067A7  !important;
  }
  .txt-head {
    color: #0067A7 !important;
  }
  .btn-colr {
    background-color: #0067A7 !important;
  }
  .bg-box {
    background-color: #f1f3f5;
    box-shadow: none;
  }
  .security-batch {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #6c757d;
    border: 1px solid #51a3d7 !important;
    padding: 2px 12px;
    border-radius: 13px;
    background: #cae6f7 !important;
  }
  