.footer-main {
  background-color: #606060;
  margin-top: 40px;

  h5 {
    color: white;
    font-weight: 700;
  }
  span {
    color: #e0e0e0;
    font-weight: 400;
  }
  .fw-white {
    color: white;
  }
  .-mt-1 {
    margin-top: -2px;
  }
}
